.header-main{
    width:100%;
    height:auto;
    top: 0;
    position: sticky;
    background-color: #6c72c2;
    padding-right: 0.5rem;
    z-index: 100;
}
.nav-menu{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.enlace{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.opcion{
    font-size: 18px;
    text-decoration: none;
    color: #c8dfe2;
    font-weight: 300;
}
.menu{
    display: none;
}
.opcion.here{
    font-weight: bold;
    color: white;
   background: transparent;
}
@media only screen and (max-width: 650px) {
    .nav-menu{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: relative;
    }
    .enlace{
        width: 45%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #6c72c2;
        transition: all 0.3s ease-in-out;
        z-index: 100;
    }
    .enlace.off{
        transform: translateX(0%);
    }
    .enlace.on{
        transform: translateX(-100%);
    }
    .menu{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .menu.here{
        background-color: red;
    }
    .bx.bx-x{
        color: white;
    }
    
}