.fast-main{
    width: 610px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}
.pronostico-container-fast{
    width: 610px;
    height: 180px;
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #6c72c2;;
    align-items: center;
}
.temp-comparations{
    display: grid;
    grid-template-columns: auto auto;
}